.Nxd-checklist {
  display: inline-flex;
  margin: 0;
  margin-bottom: $unit3;
  overflow-x: auto;
  padding: $unit1;

  &__item {
    align-items: center;
    color: $black;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 10px;

    span {
      color: $white;
      align-items: center;
      border: 1px solid $orange;
      background: $orange;
      border-radius: 100%;
      content: counter(steps);
      display: flex;
      flex: 0 0 40px;
      font-size: 18px;
      height: 40px;
      justify-content: center;
      margin-right: $unit2;
      width: 40px;
    }
  }
}

#CreateApplication, #CreateUsers {
  display: none;
}
