<div class="Vlt-grid Vlt-grid--center Vlt-grid--margin-top2">
  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__corner Vlt-bg-purple">
        <svg class="Vlt-icon"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-message"/></svg>
      </div>

      <div class="Vlt-card__content">
        <h2>
          <a href="/messaging/sms/overview">
            Messaging
          </a>
        </h2>

        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>SMS API</h5>
          <p><strong>Send and receive SMS</strong> all over the world with the SMS API. Send your first SMS within 5 minutes of signing up, it's that easy</p>
        </a>
        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>Messages API <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
          <p>One API, multiple channels! The Messages API allows you to work with <strong>MMS, Facebook, WhatsApp and Viber</strong> messages through a single integration</p>
        </a>
        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>IP Messaging <span class="Vlt-badge Vlt-badge--green">Beta</span></h5>
          <p>Add IP messaging support to your <strong>web and mobile applications</strong> with our Client SDKs. You'll get realtime messages, typing indicators and join/leave events for free (plus a whole lot more)</p>
        </a>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
      <div class="Vlt-card__corner Vlt-bg-green">
        <svg class="Vlt-icon"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone"/></svg>
      </div>
      <div class="Vlt-card__content">
        <h2>
          <a href="/voice/overview">
            Voice
          </a>
        </h2>
        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>Voice API</h5>
          <p>
            Make <strong>Text-To-Speech</strong> calls, <strong>stream audio</strong> in to a call, <strong>capture user keypresses</strong> with DTMF, <strong>record your calls</strong>, build <strong>conference calling</strong> systems and more!
          </p>
        </a>
        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>SIP</h5>
          <p>Add programmable voice support to your PBX with our SIP Connect functionality. Forward an extension to Nexmo and have the Voice API handle the call for you</p>
        </a>
        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>IP Audio</h5>
          <p>Make phone calls from your <strong>web and mobile application to a landline/mobile</strong>, or receive incoming calls in your application</p>
        </a>
      </div>
    </div>
  </div>

  <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
    <div class="Vlt-card Vlt-article--reverse Vlt-card--corner Nxd-card--products">
      <div class="Vlt-card__corner Vlt-bg-teal">
        <svg class="Vlt-icon"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-video"/></svg>
      </div>
      <div class="Vlt-card__content">
        <h2>
          <a href="/conversation/overview">
            Video
          </a>
        </h2>
        <a href="/api/messages-olympus" class="Nxd-card__link">
          <h5>In-App Video</h5>
          <p><strong>Add video to your web and mobile applications</strong> with our Javascript, iOS, Android, Cordova and React Native SDKs</p>
        </a>
      </div>
    </div>

    <div class="Vlt-card Nxd-card--products">
      <a href="/api" class="Nxd-card__link">
        <h5>
          Looking for something else?
        </h5>
        <p>Take a look at our entire list of APIs, including Verify, Number management, Account management and more</p>
      </a>
    </div>
  </div>

  <hr class="hr--tall">
</div>
